.login-page {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: url(../../assets/img/asd.avif);

    .login-container {
        .login-signup {
            display: flex;
            flex-direction: column;
            position: absolute;
            overflow: scroll;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 570px;
            height: 610px;
            background: rgba(17, 17, 17, 0.9803921569);
            border-radius: 0.625rem;
            text-align: center;
            padding: 40px;
            box-shadow: 5px 5px 15px 5px #000000;

            .login-form {
                display: grid;
                place-items: center;
                grid-gap: 20px;
            }

            input {
                width: 80%;
                height: 35px;
                color: #fff;
                background-color: #3a3a3a;
                align-items: center;
                justify-content: space-around;
                padding-inline-end: 5px;
                border-radius: 0.4375rem;
                border: none;
            }

            button {
                color: #fff;
                width: 80%;
                height: 2.8125rem;
                border-radius: 1.25rem;
                background-color: #1aa049;
                font-size: 1.2rem;
                text-transform: uppercase;
                border: none;
            }

            .btn-link {
                color: #fff;
                font-size: 1.125rem;
                text-decoration: underline;
                background-color: transparent;
                border: none;
                margin-bottom: 3px;
            }


        }

        .signup-form {
            display: flex;
            place-items: center;
            grid-gap: 20px;
            justify-content: center;
            flex-direction: column;


            select {
                margin-top: 35px;
            }

            .img-container {
                height: 200px;
                width: 180px;
                position: relative;
                box-shadow: 0 4px 60px rgba(0, 0, 0, .5);

                input {
                    visibility: hidden;
                }

                .curr-img {

                    label {
                        background-color: rgba(245, 222, 179, 0.224);
                    }
                    p {
                        color: rgb(42, 86, 189);
                        margin-top: 10px;
                    }

                    .choose-another-img {
                        // background-color: rgb(133, 82, 82);
                        label {
                            cursor: pointer;
                            position: absolute;
                            z-index: 30;
                            top: 115%;
                            left: 50%;
                            width: 100%;
                            transform: translate(-50%, -50%);
                        }
                    }


                    .remove-img {
                        position: absolute;
                        right: 0;
                        margin-right: 4px;
                    }
                }
                .no-img {
                    
                    label {
                        position: absolute;
                        z-index: 30;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translate(-50%, -50%);
                        height: 100%;
                    }
                }
            }
        }

    }

}

.username {
    display: flex;
    align-items: center;
}